@model RapidBootcamp.WebApplication.Models.Customer;

<html>
<head>
    <title>Detail Customer</title>
</head>
<body>
    <h1>Detail Customer</h1>
    <p>Category Id: @Model.CustomerId</p>
    <p>Category Name : @Model.CustomerName</p>
    <p>Customer Addres : @Model.Address</p>
    <p>Customer City : @Model.City</p>
    <p>Phone Number : @Model.PhoneNumber</p>
</body>
</html>
