@model RapidBootcamp.WebApplication.Models.Product

<html>
<head>
    <title>Detail Product</title>
</head>
<body>
    <h1>Detail Product</h1>
    <p>Product Id: @Model.ProductId</p>
    <p>Category Name: @Model.CategoryId</p>
    <p>Product Name : @Model.ProductName</p>
    <p>Product Stock : @Model.Stock</p>
    <p>Product Price : @Model.Price</p>
</body>
</html>